/* Optimized Global CSS */
:root {
  --primary-font: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #213547;
  --secondary-color: #ff788c;
  --highlight-color: #ff4d4f;
  --button-bg: #1a1a1a;
  --button-hover-bg: #444444;
  --table-bg: #ffffff;
  --table-header-bg: #495057;
  --hover-bg-color: #eef2f5;
  --form-bg: #fff;
  --form-border: #ddd;
}
body {
  margin: 0;
  font-family: var(--primary-font);
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 700px;
  min-height: 100vh;
}



a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: background-color 0.25s, transform 0.2s;
  color: white;
}

.back-button {
  background-color: #6c757d; /* Gris pour correspondre au style souhaité */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
  background-color: #5a6268; /* Gris plus sombre au survol */
  transform: translateY(-2px);
}

.back-button:hover {
  background-color: #d43f3a;
  transform: scale(1.05);
}


@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #213547;
    --secondary-color: #ff788c;
  }

  button {
    background-color: #f9f9f9;
    color: #000000;
  }

  button:hover {
    background-color: #e0e0e0;
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease;
}

.header-fixed.hidden {
  top: -50px; /* Cache le header */
}

.header-fixed a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.header-fixed a:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header-fixed {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-fixed a {
    margin-bottom: 0px;
  }
}
